.header-title {
    color: #fff;
    background: #000;
}

.biography-title {
    color: #fff;
    background: #000;
}

.ho-title {
    color: #fff;
    background: #000;
}

.alone-title {
    color: #fff;
    background: #000;
}

.links-title {
    color: #fff;
    background: #000;
}