@import url('reset.css');



div {
    width: 200px;
    display: inline-block;
    color: #fff;
    vertical-align: top;
}


.one {
    height: 100px;
    background-color: aquamarine;
}

.two {
    height: 100px;
    background-color: blue;
}

a {
    width: 100px;
    height: 100px;
    display: block;
    margin: auto;
}

img {
    width: 100px;
    display: block;
}