@import url('reset.css');

a {
    display: block;
    width: 200px;
    height: 50px;
    background-color: blueviolet;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    box-sizing: border-box;
    padding: 15px;
    text-align: center;
    margin: 0 auto;
}

a:hover {
    background-color: cornflowerblue;
}

a:active {
    color: #000;
    background-color: bisque
}

a:visited {
    background-color: chocolate;
}

a:link {
    background-color: darkgoldenrod;
}