.header {
    background-color: #e5e000;
    height: 200px;
}

.header-title {
    font-family: "Helvetica", sans-serif;
    color: #fff;
    font-size: 50px;
    line-height: 200px;

}

.content-picture {
    height: 1080px;
    background-image: url('../img/img.jpg');
    background-position: top center;
    background-size: cover;
}

.navigation {
    background-color: #e5e000;
    height: 100px;
}


.link {
    color: #fff;
    font-family: "Helvetica", sans-serif;
    font-size: 25px;
    font-weight: 700;
    font-style: normal;
    line-height: 100px;
    text-decoration: none;
}

.about-title {
    color: #000;
    font-family: "Helvetica", sans-serif;
    font-size: 50px;
    font-style: normal;
}

.about-paragraph {
    color: #000;
    font-family: "Helvetica", sans-serif;
    font-size: 25px;
    font-style: normal;
}



.footer-section {
    height: 200px;
    background-color:  #e5e000;
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    background-position: 50px 80px;
}



.footer-paragraph {
    color: #fff;
    font-size: 50px;
    text-align: right;
    line-height: 200px;
}
