* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --header-color: #0000ff;;
    --footer-color: #0000ff;;
}

html {
    font-family: "Helvetica", sans-serif;
}

.header {
    min-height: 100px;
    background-color: var(--header-color);
    margin-bottom: 30px;
}

.header h1 {
    color: #fff;
    font-size: 25px;
    line-height: 100px;
    text-align: center;
}

.column {
    min-height: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.square {
    width: 350px;
    min-height: 150px;
    border: 3px solid black;
    text-align: center;
    padding: 50px;
}

.square p {
    font-size: 25px;
    font-weight: 600;
}

.square:last-child {
    margin-bottom: 30px;
}


.footer {
    min-height: 100px;
    background-color: var(--footer-color);
}

.footer-text {
    color: #fff;
    font-size: 25px;
}

.footer-text.first {
    text-align: left;
    line-height: 100px;
}


