* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --header-color: #ffe138;
    --footer-color: #ffe138;
}

html {
    font-family: "Helvetica", sans-serif;
}

.header {
    min-height: 100px;
    background-color: #0000ff;
    margin-bottom: 30px;
}

.header h1 {
    color: #fff;
    font-size: 25px;
    line-height: 100px;
    text-align: center;
}

.column {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

}

.square {
    width: 600px;
    min-height:300px;
    border: 1px solid black;
}

.square:last-child {
    margin-bottom: 30px;
}

.footer {
    min-height: 100px;
    background-color: #0000ff;
}

.footer-text {
    color: #fff;
    font-size: 25px;
}

.footer-text.first {
    text-align: left;
}


.footer-text.second {
    text-align: right;
}