* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #fe1a19;
}

html {
    font-size: 10px;
    font-family: "Helvetica", sans-serif;
}

body {
    font-size: 1.5rem;
}


.header {
    height: 6rem;
    background-color: var(--primary-color);
    margin-bottom: 3rem;
}

.header-text {
    color: #fff;
    font-family: "Helvetica", sans-serif;
    font-weight: 400;
    font-size: 2rem;
    line-height: 6rem;
    padding-left: 1rem;
}

.main-content {
    text-align: center;
    margin-bottom: 3rem;
}

.strawberry-tart {
    min-width: 40rem;
    border: 0.2rem #e5e000 solid;
    border-radius: 2rem;
    display: inline-block;
    padding: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 0.8rem;
}
.strawberry-tart .strawberry-title {
    color: #000;
    text-align: left;
    font-size: 2rem;
    font-family: "Helvetica", sans-serif;
    font-weight: 700;
    margin-bottom: 2rem;
}

.strawberry-tart h3 {
    text-align: left;
    font-family: "Times New Roman", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 0;
}


.strawberry-tart ul {
    text-align: left;
    list-style: none;
    margin-bottom: 1.5rem;
}


.strawberry-tart:nth-child(2) {
    margin: 0 4rem;
}

.strawberry-tart:last-child {
    margin-right: 0;
}

.footer {
    height: 6rem;
    background-color: var(--primary-color);
}

.footer .copyright {
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
    line-height: 6rem;
    padding-left: 2rem;
}






