* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.html {
    font-size: 10px;
}


.header {
    height: 3.75rem;
    background-color: #fe1a19;
}

.headerText {
    color: #fff;
    font-family: "Helvetica", sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 3.75rem;
    padding-left: 0.625rem;
    box-sizing: border-box;
}

.main-content {
    text-align: center;
}

.strawberryTart {
    min-width: 25rem;
    border: 2px #e5e000 solid;
    border-radius: 1.25rem;
    display: inline-block;
    padding: 3.125rem;
    box-sizing: border-box;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    margin-right: 0.5rem;
}

.footer {
    height: 3.75rem;
    background-color: #fe1a19;
}

.footer .copyright {
    color: #fff;
    font-size: 1.25rem;
    text-transform: uppercase;
    line-height: 3.75rem;
    padding-left: 1.25rem;
    box-sizing: border-box;
}

.strawberryTart .strawberryTitle {
    color: #000;
    text-align: left;
    font-size: 1.25rem;
    font-family: "Helvetica", sans-serif;
    font-weight: 700;
    margin-bottom: 1.25rem;
}

.strawberryTart h3 {
    text-align: left;
    font-family: "Times New Roman", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 0;
}

.strawberryTart .tartList {
    text-align: left;
    list-style: none;
    margin-bottom: 0.9375rem;
}

.strawberryTart .almondList {
    text-align: left;
    list-style: none;
    margin-bottom: 0.9375rem;
}

.strawberryTart .custardList {
    text-align: left;
    list-style: none;
    margin-bottom: 0.9375rem;
}

.strawberryTart .toppingList {
    text-align: left;
    list-style: none;
}


.strawberryTart:nth-child(2) {
    margin: 0 2.5rem;
}

.strawberryTart:last-child {
    margin-right: 0;
}




