.header {
    height: 60px;
    background-color: #fe1a19;
}

.strawberryTart {
    min-width: 400px;
    border: 2px #e5e000 solid;
    border-radius: 20px;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 8px;
}

.footer {
    height: 60px;
    background-color: #fe1a19;
}

.footer .copyright {
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 60px;
    padding-left: 20px;
    box-sizing: border-box;
}

.strawberryTart .strawberryTitle {
    color: #000;
    padding-left: 40px;
    box-sizing: border-box;
    font-size: 20px;
    font-family: "Helvetica", sans-serif;
    font-weight: 700;
}

.strawberryTart h3 {
    padding-left: 40px;
    font-family: "Times New Roman", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 0;
}

.strawberryTart .tartList {
    list-style: none;
}

.strawberryTart .almondList {
    list-style: none;
}

.strawberryTart .custardList {
    list-style: none;
}

.strawberryTart .toppingList {
    list-style: none;
}


ul {
    margin:0;
}



